/*navbar brand font*/

.navbar-brand {
  font-weight: bold;
  font-family: Mogra, serif;
}

/*navbar dropdown font*/
<!-- 
.navbar-light .navbar-nav>li {
  font-family: "Strait";
}

.nav-pills .pill-2 .nav-link {
  background-color: #e3f2fd;
  color: black;
  box-shadow: 0px -10px 20px -9px #095659;
  position: relative;
  border: 2px solid aliceblue;
}

.nav-pills .pill-3 .nav-link {
  background-color: #e3f2fd;
  color: black;
  box-shadow: 0px -10px 20px -9px #095659;
  position: relative;
  border: 2px solid aliceblue;
}

.nav-pills .pill-4 .nav-link {
  background-color: #e3f2fd;
  color: black;
  box-shadow: 0px -10px 20px -9px #095659;
  position: relative;
  border: 2px solid aliceblue;
}
 -->

.mogra {
  font-family: "Mogra";
}

.brandfont {
  font-size: 34px;
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.info {
  text-align: center;
  font-family: "Strait";
  font-size: 28px;
  text-decoration: italic;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boxshadow {
width: auto;
height: auto;
background-color: #8B0000;
position: relative;
box-shadow: inset 0px 0px 35px 6px #FFFAFA, 
            inset 0px 0px 200px 100px #CD5C5C;
}

.body-background{
 width: auto;  
 height: auto;  
 background-color: lightsalmon;  
 position: relative; 
 box-shadow: inset 0px 0px 200px 100px #CD5C5C;
}

.border {
  background-color: #e3f2fd;
  color: black;
  box-shadow: 0px -10px 20px -9px #095659;
  position: relative;
  transform: translate(0%, 0%);
  border: none;
  border-radius: 12px;
}